* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
    color: #242424;
    
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #242424;
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.landing-text h1 {
    font-size: 10rem;
}


/* Reusable Stuff */

.section-header {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.section-header h1 {
    position: relative;
    font-size: 6rem;
    margin-bottom: 1rem;
}

.section-header h6 {
    font-size: 1.5rem;
}

.has-margin-right {
    margin-right: 3em;
}

section {
    align-items: center;
}


/* about section */

.container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* padding: 3rem; */
}

.project-item {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 300px;
    height: 300px;
}

.project-title.hidden, .project-info.hidden{
    display: none;
  
}

.title {
    font-size: 2rem;
    align-self: flex-start;
}

.header {
    align-self: flex-start;
    margin: 2rem;
    position: fixed;
}

.project-info {
    /* color: #FF6666; */
    /* background-color: #fff;   */
}

.project-title {
    /* background-color: #FF6666; */
    /* color: #fff;   */
}

.project-description {
    min-width: 350px;
    z-index: 9999;
    
}

.project-description h1 {
    font-size: 4rem;
    padding: 2rem;
    margin-left: -150px;
}

.project-description h6 {
    font-size: 1.6rem;
}

.project-image {
    display: flex;
    transition: all 300ms;
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 30px;
    background: #ed213a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ed213a, #93291e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ed213a, #93291e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    align-items: center;
}

.muni-icon {
    background: no-repeat center/60%;
    height: 50%;
    width: 50%;
    background-color: #fff;
    mask-size: 50%;
    -webkit-mask: url('../images/icon.svg') no-repeat 50% 50%;
    -webkit-mask-size: 100%;
    mask: url('../images/icon.svg') no-repeat 50%;

}

.project-links {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;

    /* height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF6666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease-in-out 150ms; */

}

.project-image:hover > .project-links {
    /* opacity: .9; */
}

.project-link {
    font-size: 2rem;
    font-weight: bold;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    min-width: 46%;
    text-align: center;

}

.project-link:hover{
    transition: all 150ms;
    color: #ed213a;
    
}

.project-link {
    transition: all 250ms;
}


/* Media queries */

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 1368px) {
    

}
@media screen and (max-width: 768px) {

}